*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    height:60vh !important;
    width: 100vw;

}
nav{
    width:auto;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
   
}
.card-main{
   display: flex;
   flex-wrap: wrap;
   flex-direction:row;
   justify-content: space-between;
  
}
.card{
    width:100%;
}
.best-sellers{
    margin: 40px;
    flex-wrap: wrap;
    display: flex;
    

}

img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color:white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color:white;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: white;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
   
    background-color:#50C878;
    color:white;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
#contact{
    color: white;
}
.footer{
    margin:2rem;
}
.hr{
    color: white;
}
.login{
    padding:10px;
    background-color: #50C878;
    color: white;
    border-radius: 20px;
    border-color: transparent;
    margin-left: 20px;
}
.login a{
    text-decoration: none;
    color: white;
}
.shop-cart{
    border-color: transparent;
    background-color:transparent;
    margin: 10px;
}
.Items{
    margin-top: 2rem;
    margin-left:10rem; 
    display: flex;
    flex-wrap: wrap;
    flex-flow:column;
    
}
.Items div{
    margin: 10px;
}
.Item-card{
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
}
.item-btn{
    background-color: orange;
    text-decoration: none;
    padding:8px;
    color:white;
    text-align: center;}
.card:hover{
    box-shadow: .5px .5px black;
    cursor: pointer;
    
}
.payment{
    margin: 10px;
}
@media only screen and (max-width: 600px) {
    .best-sellers {
    display: none;
    }
    #carouselExampleCaptions{
        height: 60vh;
    }
    .Items{
        margin-left: 2rem;
    }
  }
  .service{
    margin: 3rem;
  }
  .aboutus{
    margin: 3rem;
  }
  #modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    padding: 40px;
    border-radius: 10px;
   
}
#modal button{
    background-color: rgb(245, 89, 89);
    margin-left: 8rem;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-family: sans-serif;
    font-size: large;
    color: #fff;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay for background blur */
    z-index: 1;
    backdrop-filter: blur(2px); 

}